.record-card-header {
  background-color: #6a994e;
  color: #f2e8cf;
  text-align: center;
}

.record-card-content {
  background-color: #386641;
  text-align: center;
  color: #f2e8cf;

  .record-card-remove {
    margin-top: 3%;
    padding-top: 3%;
    background-color: #bc4749;
    font-size: 1vw;
    border-radius: 10px;
  }

  .record-card-remove:hover {
    background-color: #da5456;
  }
}
