.records-update-dialog {
  background-color: #f2e8cf;

  .records-update-dialog-row {
    margin-top: 2%;
  }

  .records-update-dialog-submit {
    margin-top: -2%;
    padding-top: 1.5%;
    background-color: #386641;
    font-size: 1vw;
    border-radius: 10px;
  }

  .records-update-dialog-submit:hover {
    background-color: #6a994e;
  }

  .records-update-dialog-cancel {
    margin-top: -2%;
    padding-top: 1.5%;
    background-color: #bc4749;
    font-size: 1vw;
    border-radius: 10px;
  }

  .records-update-dialog-cancel:hover {
    background-color: #da5456;
  }
}
