.records-wrapper {
    height: 100vh;
    margin-top: 4%;
    padding-top: 3%;
    background-color: #F2E8CF;

    .records-add-button {
        margin-bottom: 2%;
        background-color: #386641;
        color: #F2E8CF;
        font-size: 1vw;
        border-radius: 10px;
    }

    .records-add-button:hover {
        background-color: #6A994E;
    }
}
