.navbar {
  position: fixed;
  background-color: #386641;
  padding-top: 0.7%;
  padding-bottom: 0.7%;

  .navbar-app-name {
    padding-left: 1%;
    color: #f2e8cf;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    padding-left: 42%;
    gap: 10%;

    .navbar-link {
      text-decoration: none;
      color: #f2e8cf;
    }

    .navbar-login {
      background-color: transparent;
      border: none;
      color: #f2e8cf;
    }

    .navbar-count {
      margin-left: -5%;
      color: #f2e8cf;
    }
  }
}
