.patient-card-header {
  background-color: #6a994e;
  color: #f2e8cf;
  text-align: center;
}

.patient-card-content {
  background-color: #386641;
  text-align: center;
  color: #f2e8cf;

  .patient-card-diseases {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    font-size: 0.95vw;
  }

  .patient-card-update {
    margin-top: 3%;
    margin-right: 2%;
    padding-top: 3%;
    background-color: #6a994e;
    font-size: 1vw;
    border-radius: 10px;
  }

  .patient-card-update:hover {
    background-color: #80b95f;
  }

  .patient-card-remove {
    margin-top: 3%;
    margin-left: 2%;
    padding-top: 3%;
    background-color: #bc4749;
    font-size: 1vw;
    border-radius: 10px;
  }

  .patient-card-remove:hover {
    background-color: #da5456;
  }
}
